body {
  background-color: #6C8CFE;
  margin: 0;
}

/* HEADER */
.landing-header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width:100%;
}
.sun {
z-index: -1;
top: 1rem;
right: 1rem;
position: fixed;
}
.clouds {
  animation: 30s infinite alternate slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

/* LANDING PAGE */
.landing-container {
  margin-left: 5rem;
}
.landing-title {
  margin-top: 0;
  margin-bottom: 0;
}
.landing-text {
  width: 40rem;
  line-height: 2rem;
}
.btn {
  background-color: #6C8CFE;
  border-radius: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem 2.5rem;
  color: white;
  box-shadow: -4px -4px 12px 0px #9BB1FF, 6px 6px 12px 0px #466FFF;
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 0 4rem 4rem 0;
}
.ptsb-logo {
  bottom: 1rem;
  left: 1rem;
  position: fixed;


}
