.page-container {
  background-color: #ff9a6f;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.name-entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.explainer {
  max-width: 50vw;
  font-family: 'Varela Round', sans-serif;
  color: white;
  font-size: 2rem;
}

form {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.unlock-btn {
  background-color: #ff9a6f;
  filter: drop-shadow(6px 6px 12px #ff7c44) drop-shadow(-4px -4px 12px #ffbb9e);
  color: white;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  border: none;
  align-self: flex-end;
  font-family: 'Knewave', cursive;
  font-size: 1.5rem;
}

.lockchain {
  width: 60vw;
  position: fixed;
  top: -30vh;
  right: 0;
  z-index: 1;
}
