.score-container {
  background-color: #74D47E;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
}

.body {
  display: inherit;
  flex-direction: row;
  margin-top: 10rem;
}

/* ----TEXT---- */
.score-content {
  display: inherit;
  flex-direction: column;
}
.score-title {
  margin: 0 0 2rem 5rem;
}
.blurb {
  width: 40rem;
  margin: 0 5rem 1rem 5rem;
}

.email {
  margin-left: 5rem;
}

/* ----ICON---- */
.trophy-container {
  position: fixed;
  right: 10rem;
  top: 7rem;
  z-index: 0;

}
.score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:3rem;
  font-family: 'Carter One', cursive;
  z-index: 2;
}


/* -----LINKS----- */

.subscribe {
  background-color: #74D47E;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1.5rem 3rem;
  color: white;
  box-shadow: -4px -4px 12px 0px #A0E8A8, 6px 6px 12px 0px #4BB456;
  align-self: flex-end;
}

.privacy {

}
