body {
  margin: 0;
}

label {
  display: none;
}

input {
  border: none;
  background-color: white;
  padding: 1rem;
  font-size: 2rem;
  width: 25vw;
}

input::placeholder {
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Knewave", cursive;
  color: white;
  font-size: 6rem;
  font-weight: lighter;
}
p {
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 1.3rem;
}

.btn {
  font-family: "Knewave", cursive;
}
