body {
  margin: 0;
}

label {
  display: none;
}

h1 {
  font-family: "Knewave", cursive;
  color: white;
  font-size: 6rem;
  font-weight: lighter;
}
p {
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 1.3rem;
}

.btn {
  font-family: "Knewave", cursive;
}
