body {
  margin: 0;
}

main {
  box-sizing: border-box;
}

h1 {
  color: white;
}

p {
  color: white;
}

label {
  display: none;
}

input {
  border: none;
  background-color: white;
  padding: 1rem;
  font-size: 2rem;
  width: 25vw;
}
